.card {
  width: 33%;
  height: 300px;
  border: 2px solid white;
  padding: 20px;
  margin-bottom: 5px;
  color: white;
}
.first_box_card {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.second_box_card {
  width: 100%;
  text-align: center;
}
