.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 125px 0px 125px 0px;
}

.top-title {
    font-family: "Saol Display";
    color: black;
    font-size: 24px;
}

.sub-title {
    font-family: 'GT Bold';
    color: white;
    font-size: 78px;
}

.profile-container {
    background-color: #3E2E27;
    margin: 0px 15px 40px 15px;
    border-radius: 5px;
}

.profile-title {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
    color: white;
    font-family: 'GT Bold';
    font-size: 48px;
}

.input-container {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: 25vw;
}

.login-input {
    padding: 10px;
    color: #C4B84E;
    background-color: #3E2E27;
    border: solid 1px black;
    border-radius: 3px;
}

.profile-button {
    background-color: #C4B84E;
    font-family: 'GT Medium';
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-border {
    border: 1px solid white;
    margin: 20px 25px;
}

.profile-posts-title {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'GT Medium';
    font-size: 32px;
    padding: 5px 0px 25px 0px;
}

.profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.profile-picture-input {
    display: none;
}

.profile-picture-output {
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

.profile-posts-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 200px;
    padding-bottom: 40px;
}

.post-container {
    padding: 20px;
    border: solid 3px white;
}

.post-header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 10px;
}

.post-content {
    padding-bottom: 10px;
}